<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CalcTests1.Properties.Settings.newdbConnectionString"
            connectionString="Data Source=DESKTOP-GHMLDHS\SQLEXPRESS;Initial Catalog=newdb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>